<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        {{#each modules}}
        <div class="col s12 m6 l4">
            {{> _modulecard module=this}}
        </div>
        {{/each}}
    </div>
    <!-- Progress bar-->
</div>