<nav class="green darken-4 white-text">
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo left">FinancEasy</a>
        <ul class="right">
            <li><a href="/auth/google">Login</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row flex">
        <div class="col s12 m6 headers">
            <h1>Financial Literacy made easy</h1>
            <h5>Learn critical life skills in 5 minute animated videos</h5>
            <a class="waves-effect waves-light btn-large green darken-4 main-action" href="/auth/google">Log In with Google</a>
        </div>
        <div class="col s0 m6 image hide-on-small-only valign-wrapper">
            <img src="/img/logo1-transparent.png" alt="">
        </div>
    </div>
    <div class="row flex2 bottom-action">
        <div class="col s3">
            <hr />
        </div>
        <div class="col s6 center-align">
            <h4>Catch our latest videos!</h4>
            <a class="youtube-link" href="https://www.youtube.com/channel/UChz9XFY7szQymJcBDIOD3lA"><h5>@FinancEasy on Youtube</h5></a>
        </div>
        <div class="col s3">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel teal lighten-5">
                <div class="row">
                    <div class="col s12 m6">
                        <h3>Job Revenue</h3>
                        <h5>Module 1</h5>
                        <p>Module 1: Understanding your job revenue teaches you how to use, spend, and save the money earned from that precious first job.</p>
                    </div>
                    <div class="col s12 m6">
                        <div class="vid-container">
                            <iframe class="valign-wrapper" src="https://www.youtube.com/embed/4ibs-7qTLKE"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card-panel red lighten-5">
                <div class="row">
                    <div class="col s12 m6">
                        <h3>Spending and Saving</h3>
                        <h5>Module 2</h5>
                        <p>Module 2: Learn about the types of bank accounts and how they can help you to save and grow your money, even without income.</p>
                    </div>
                    <div class="col s12 m6">
                        <div class="vid-container">
                            <iframe class="valign-wrapper" src="https://www.youtube.com/embed/ud1lkXND8x8"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>