<div class="splash">
    <div class="container">
        <div class="row flex">
            <div class="col s6 headers">
                <h1>Financial Literacy made easy</h1>
                <h5>We teach you critical life skills in 5 minute animated videos</h5>
                <a class="waves-effect waves-light btn-large green darken-4 main-action" href="/auth/google">Log In with Google</a>
            </div>
            <div class="col s6 image">
                <img src="/img/logo1.jpg" alt="">
            </div>
        </div>
    </div>
</div>