<h3>DECA Project</h3>
<div class="section">
    <div class="lead">Teaching financial literacy to high schoolers</div>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn lime lighter-1">Log In with Google</a>
</div>