nav {
    background-color: initial !important;
    box-shadow: none !important;
}

nav a {
    color: #000000 !important;
}

.flex {
    display: flex;
}

.headers {
    margin: auto;
}

.image img {
    display: block;
    width: 100%;
    margin: auto;
}

.main-action {
    margin: 2rem 0;
}

.flex2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.youtube-link {
    color: #4F772D;
    font-size: 5rem;
}

hr {
    border-color: #132A13;
}